<div class="store-header">
	<h1>Let's have some fun shopping!</h1>
</div><br />	

<div id="carousel-example-generic" class="carousel slide" data-ride="carousel">
  <!-- Indicators -->
  <ol class="carousel-indicators">
    <li data-target="#carousel-example-generic" data-slide-to="0" class="active"></li>
    <li data-target="#carousel-example-generic" data-slide-to="1"></li>
    <li data-target="#carousel-example-generic" data-slide-to="2"></li>
  </ol>

  <!-- Wrapper for slides -->
  <div class="carousel-inner ">
    <div class="item active">
      <%= image_tag("banner_1.jpg", :alt => "comic banner ") %>
    </div>
    <div class="item">
      <%= image_tag("banner_2.jpg", :alt => "funko banner", :height =>"250", :width => "1000") %>
    </div>
    ...
  </div>

  <!-- Controls -->
  <a class="left carousel-control" href="#carousel-example-generic" data-slide="prev">
    <span class="glyphicon glyphicon-chevron-left"></span>
  </a>
  <a class="right carousel-control" href="#carousel-example-generic" data-slide="next">
    <span class="glyphicon glyphicon-chevron-right"></span>
  </a>
</div><br />


<!-- %= render 'productloop' %> -->


